@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', "Noto Sans SC", sans-serif;
  -webkit-tap-highlight-color: transparent;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.custom-shadow {
  box-shadow: 0 4px 20px -2px rgba(0, 0, 0, 0.05);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.fill-1 {
  font-variation-settings: 'FILL' 1;
}
